<%- include('../partials/header') %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <ul>
      <% sandwiches.forEach(function(s) { %>
        <li>
          <td><%= s.state %></td>
         
         <td> <a href="/sandwiches/<%= s.id %>"><%= s.name %></a>
        </td>
        </li>
      <% }); %>

    </ul>
    <h3><a href="/sandwiches/rest">Add Sandwich Restarant</h3>
    
  </body>
  
<%- include('../partials/footer') %>